.base-body {
    background-color: whitesmoke;
}

.home-body {
    overflow-y: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header {
    color: #6d8454;
}

.home-logo {
    width: 150px;
    border-radius: 150px;
    padding: 5px;
}

.order-details {
    /* width: "80%"; */
    height: 250px;
}

.button-container {
    text-align: center;
}

.fancy-font {
    font-style: italic;
}

.center-font {
    text-align: center;
}

.required-field {
    color: red;
}