.base-body {
    background-color: whitesmoke;
    border: thick double #32a1ce;
}

.footer {
    height: 3rem;
    bottom: 0;
    position: sticky;
    background-color: #6d8454;
}

.home-body {
    overflow-y: auto;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-header {
    color: #6d8454;
}

.home-logo {
    width: 150px;
    border-radius: 150px;
    padding: 5px;
}

.order-details {
    /* width: "80%"; */
    height: 250px;
}

.button-container {
    text-align: center;
    margin-bottom: 2rem;
}

.fancy-font {
    font-style: italic;
}

.center-font {
    text-align: center;
}

.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}

.nav-option {
    text-decoration: none;
    color: whitesmoke;
    font-size: 25px;
}

.required-field {
    color: red;
}